.extra-details {
  background: linear-gradient(90deg, #101820ff 50%, #f2aa4cff 50%);
  padding: 5%;
}

.extra-title {
  color: #f2aa4cff;
  text-align: center;
  padding-bottom: 5%;
}

.other-side {
  color: #101820ff;
}

.extra-image {
  width: 35%;
  display: inline-block;
  position: relative;
  left: 4%;
}

.extra-text {
  display: inline-block;
  position: relative;
  width: 40%;
  left: 23%;
  text-align: left;
  color: #101820ff;
}

@media (max-width: 600px) {
  .extra-details {
    margin: 0 auto 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    background: #101820ff;
  }

  .extra-title {
    order: 0;
    color: #f2aa4cff;
    align-self: center;
    padding-bottom: 5%;
    left: 0%;
  }

  .extra-image {
    order: 1;
    width: 100%;
    align-self: center;
    padding-bottom: 2%;
    left: 0;
  }

  .extra-text {
    order: 2;
    color: #f2aa4cff;
    font-size: 20px;
    left: 0%;
    width: 100%;
  }

  .other-side {
    color: #f2aa4cff;
  }
}
