.postauto-form {
  margin: 7% 25% 13% 33%;
}

.title-label {
  text-align: center;
}

.input-text {
  width: 33.5rem;
  outline: none;
  background-color: #101820ff;
  color: #f2aa4cff;
}

.postauto-form textarea {
  outline: none;
  background-color: #101820ff;
  color: #f2aa4cff;
  resize: none;
}

.postauto-form label {
  color: #101820ff;
}

.postauto-form button {
  background-color: #101820ff;
  color: #f2aa4cff;
  border-radius: 30%;
  position: relative;
  left: 34%;
  top: 1rem;
  width: 5rem;
  outline: none;
  height: 2.5rem;
  border: #f2aa4cff 1px thin;
}

.form-from-to {
  margin-top: 3%;
  width: 11.5rem;
  margin-left: 2%;
  margin-right: 2%;
  outline: none;
  background-color: #101820ff;
  color: #f2aa4cff;
}

.form-checkbox-label {
  margin-top: 2%;
  padding-left: 2%;
}

.postauto-form button:hover,
.postauto-form button:active {
  background-color: rgb(32, 30, 27);
  color: rgb(231, 180, 112);
  border: #101820ff 1px thin;
}

@media (max-width: 600px) {
  .input-text {
    width: 12rem;
    outline: none;
    background-color: #101820ff;
    color: #f2aa4cff;
  }

  .postauto-form textarea {
    outline: none;
    background-color: #101820ff;
    color: #f2aa4cff;
    resize: none;
    width: 12rem;
  }

  .postauto-form button {
    background-color: #101820ff;
    color: #f2aa4cff;
    border-radius: 30%;
    position: relative;
    left: 27%;
    top: 1rem;
    width: 5rem;
    outline: none;
    height: 2.5rem;
    border: #f2aa4cff 1px thin;
  }
}
